.login-dialog-search-entry {
    width: 25em;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #e67e22;
}

.login-dialog-info-label {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.85);
    text-align: left;
}
